<div id="quizsection">
    <div class="quizInvitation">
        <h1> {{ section.settings.text-box-title }}</h1>
        <h3> {{ section.settings.text-box-content }}</h3>
    </div>
</div>


{% schema %}
  {
    "name": "Quiz",
    "settings": [
{
    "id":"text-box-title",
    "type":"text",
    "label":"heading",
    "default":"Title"
}
{
    "id":"text-box-content",
    "type":"richtext",
    "label":"Add custom text below",
    "default":"<p>add your text here</p>"
}
    ],
    "presents":[
        {
            "name":"quiz",
            "category":"quiz"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
